'use strict'

const Hp = require('hemera-plugin')

const plugin = Hp(hemera{{=data.name}}, '>=3.0.0')

function hemera{{=data.name}} (hemera, opts, done) {
  const topic = '{{=data.topic}}'

  hemera.add({
    topic,
    cmd: 'add'
  }, (req) => req.a + req.b)

  done()
}

myPlugin[Symbol.for('name')] = require('./package.json').name
myPlugin[Symbol.for('options')] = {}
myPlugin[Symbol.for('dependencies')] = []

module.exports = myPlugin
