'use strict'

const Hp = require('hemera-plugin')

exports.options = {
  name: require('./package.json').name
}

exports.plugin = Hp(hemera{{=data.name}}, '>=2.0.0-0')

function hemera{{=data.name}} (hemera, opts, done) {
  const topic = '{{=data.topic}}'

  hemera.add({
    topic,
    cmd: 'add'
  }, (req, cb) => {
    cb(null, req.a + req.b)
  })

  done()
}
