'use strict'

const Hp = require('hemera-plugin')

function hemera{{=data.name}} (hemera, opts, done) {
  const topic = '{{=data.topic}}'

  hemera.add({
    topic,
    cmd: 'add'
  }, (req, cb) => {
    cb(null, req.a + req.b)
  }

  done()
}

module.exports = Hp(hemera{{=data.name}},  {
  hemera: '>=5.0.0-rc.1',
  name: require('./package.json').name,
  options: {}
})
