# {{=data.name}}

Your plugin description

# Prerequisites

[Install and run NATS Server](http://nats.io/documentation/tutorials/gnatsd-install/)

# Example

```js
'use strict'

const Hemera = require('nats-hemera')
const plugin = require('{{=data.name}}')
const nats = require('nats').connect()

const hemera = new Hemera(nats)
hemera.use(plugin)
```

# Test

```
npm run test
```

# Code coverage

```
npm run coverage
```

# Linting

```
npm run lint
```
